/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
/public/mix-manifest.json
/public/web/images
/storage/framework/laravel-excel
/storage/imports/*
/resources/.DS_Store
storage/.DS_Store
/public/certificados
/public/documentos
/public/escuelaLogos
/public/facultadLogos
/public/.DS_Store
public/web/.DS_Store
storage/framework/.DS_Store
